	<nav data-controller='core.front.core.navBar' class='theme-navbar ipsNavBar_noSubBars ipsResponsive_showDesktop'>
		<div class='ipsNavBar_primary ipsNavBar_noSubBars'>
			<ul data-role="primaryNavBar" class='ipsClearfix'>
		<li id='elNavSecondary_53' data-role="navBarItem" data-navApp="core" data-navExt="Menu">
				<a href="#" id="elNavigation_53" data-ipsMenu data-ipsMenu-appendTo='#elNavSecondary_53' data-ipsMenu-activeClass='ipsNavActive_menu' data-navItem-id="53">
					Information <i class="fa-light fa-angle-down"></i>
				</a>
				<ul id="elNavigation_53_menu" class="ipsMenu ipsMenu_auto ipsHide">
			<li class='ipsMenu_item'><a href="/index.html#features">Features</a></li>
			<li class='ipsMenu_item'><a href="/index.html#why-to-use">Why to use</a></li>
			<li class='ipsMenu_item'><a href="/index.html#how-it-works">How it Works</a></li>
				</ul>
		</li>
		<li id='elNavSecondary_37' data-role="navBarItem" data-navApp="stsmanager" data-navExt="STSViewMenu">
				<a href="/index.html#pricing" data-navItem-id="37">Pricing</a>
		</li>
		<li id='elNavSecondary_45' data-role="navBarItem" data-navApp="core" data-navExt="Menu">
				<a href="#" id="elNavigation_45" data-ipsMenu data-ipsMenu-appendTo='#elNavSecondary_45' data-ipsMenu-activeClass='ipsNavActive_menu' data-navItem-id="45">
					Partners <i class="fa-light fa-angle-down"></i>
				</a>
				<ul id="elNavigation_45_menu" class="ipsMenu ipsMenu_auto ipsHide">
			<li class='ipsMenu_item'><a href="/affiliates/">Affiliates</a></li>
			<li class='ipsMenu_item'><a href="/content-creators/">Content Creators</a></li>
			<li class='ipsMenu_item'><a href="/resellers/">Resellers</a></li>
				</ul>
		</li>
		<li id='elNavSecondary_43' data-role="navBarItem" data-navApp="core" data-navExt="Menu">
				<a href="#" id="elNavigation_43" data-ipsMenu data-ipsMenu-appendTo='#elNavSecondary_43' data-ipsMenu-activeClass='ipsNavActive_menu' data-navItem-id="43">
					Community <i class="fa-light fa-angle-down"></i>
				</a>
				<ul id="elNavigation_43_menu" class="ipsMenu ipsMenu_auto ipsHide">
			<li class='ipsMenu_item'><a href="/reviews/">Reviews</a></li>
			<li class='ipsMenu_item'><a href="/configs/">Config</a></li>
			<li class='ipsMenu_item'><a href="/forums/">Forums</a></li>
				</ul>
		</li>
				<li class='ipsHide' id='elNavigationMore' data-role='navMore'>
					<a href='#' data-ipsMenu data-ipsMenu-appendTo='#elNavigationMore' id='elNavigationMore_dropdown'>More</a>
					<ul class='ipsNavBar_secondary ipsHide' data-role='secondaryNavBar'>
						<li class='ipsHide' id='elNavigationMore_more' data-role='navMore'>
							<a href='#' data-ipsMenu data-ipsMenu-appendTo='#elNavigationMore_more' id='elNavigationMore_more_dropdown'>More <i class='fa fa-caret-down'></i></a>
							<ul class='ipsHide ipsMenu ipsMenu_auto' id='elNavigationMore_more_dropdown_menu' data-role='moreDropdown'></ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
